/* Container utama */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  width: 100%;
  
}

/* Video responsif */
.video-container {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

/* Judul */
h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Responsif untuk HP */
@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  .container {
    padding: 15px;
  }
}
footer p {
  margin: 0;
  letter-spacing: 0.5px;
  color: #1976d2; /* Warna biru seperti pada gambar */
  font-weight: 500;
}